<div class="tooltip_templates">

    {# PhpBrew #}
    
    <span id="phpbrewCustomName">
        <br />
        You can specify a custom name instead of the default `php-7.x.x`. <br /><br />
        The installed path will be For example, `php-7.x.x-YourCustomName`<br /><br />
    </span>

</div>